html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.grup-all-content{
	display: inline-block;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	padding: 5%;
}
.card>h3{
	text-align: center;
}
.card>h1{
	text-align: center;
}
.modif-card{
	height: 100%;
	overflow-y: auto;
}
.modif-card p{
	text-align: left;
}